body {
    background: #F1FFF7;;
}

.row {
    margin: 25px;
}

.col {
    background: white;
    padding: 10px;
    margin: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.error {
    color: red;
    font-weight: bold;
}

.control-title {
    color: #515151;
    font-weight: bold;
}

json-tree > div {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

.tree-value{
    cursor: text;
    display: inline-block;
    background: #DDD;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 0 5px;
    margin: 3px;
}
.child-nodes{
    margin-left: 15px;
}

